<div class="row">
  <div class="col-md-12">
    <% @rooms.each do |room| %>
      <div class="col-md-4">
        <%= link_to room_path(room) do %>
          <%= image_tag room_url(room) %><br>
          <%= room.listing_name %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
