<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item">
        <%= link_to "Your listing", rooms_path %>
      </li>
      <li class="sidebar-item">
        <%= link_to "Your reservations", rooms_path %>
      </li>
    </ul>
  </div>
</div>
<% unless @rooms.empty? %>
  <% @rooms.each do |room| %>
    <%= room.listing_name %>
    <%= room.home_type %>
  <% end %>
<% end %>